POSTGRES_DB=your_database_name
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GRAFANA_PORT=3000

REDIS_HOST=localhost
REDIS_HOST_EXTERNAL=redis
REDIS_PORT=6379

API_PORT=8000
REFRESH_SECONDS=5

KAFKA_EXTERNAL_PORT=9092
KAFKA_TOPIC=your_kafka_topic
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_BOOTSTRAP_SERVERS_INTERNAL=kafka:29092

BINANCE_WS_URL=wss://stream.binance.com:9443/stream?streams=btcusdt@trade/ethusdt@trade/solusdt@trade

SPARK_APP_NAME=your_spark_app_name